@import '../../Style.scss';

.Card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 370px;
  width: 350px;
  border-radius: 8px;
  background: $white;
  box-shadow: 0 45px 35px 0 rgba(0,0,0,0.1);
  z-index: 5;
  position: relative;

  .Card-pattern{
    height: 128px;
    background: url("../../images/bg-pattern-card.svg") no-repeat center;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .Card-image-design{
    width: 300px;
    height: 140px;
    margin: 0 auto;

    .Card-image{
      width: 100px;
      height: 100px;
      margin: -45px auto 0 auto;

      img{
        border-radius: 50%;
        border: 5px solid $white;
        object-fit: cover;
      }
    }

    .Card-description{
      p{text-align: center;}

      .Card-user{
        width: 145px;
        justify-content: space-between;
        align-items: center;
        margin: 12px auto;
        
        p:first-child{
          font-weight: 700;
          font-size: 1.3em;
        }

        p:last-child{
          color: $gray;
          font-size: 1.1em;
        }
      }

      .Card-user-location{
        color: $gray;
      }
    }
  }

  .Card-stats{
    justify-content: space-between;
    height: 90px;
    border-top: 1.2px solid rgba(0,0,0,0.2);
    padding: 0 25px;
    
    
    .items{
      width: 100px;
      height: inherit;
      flex-direction: column;
      padding-top: 25px;
      align-items: center;

      p:first-child{
        font-weight: 700;
        font-size: 1.3em;
      }

      p:last-child{
        margin-top: 6px;
        text-transform: capitalize;
        font-size: 0.9em;
        color: $gray;
      }

      &:first-child{
        border-bottom-left-radius: 8px;
      }

      &:last-child{
        border-bottom-right-radius: 8px;
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .Card{
    width: 300px;
  }
}