@import './Style.scss';

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $cyan;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: $font;

  .App-pattern{
    position: absolute;
    width: 1050px;
    height: 1050px;
  }


  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .top{
    top: -35em;
    left: -20em;
  }
  
  .bottom{
    bottom: -43em;
    right: -18em;
  }
}